<!--
/*********************************************************************************
* SugarCRM Community Edition is a customer relationship management program developed by
* SugarCRM, Inc. Copyright (C) 2004-2013 SugarCRM Inc.

* SuiteCRM is an extension to SugarCRM Community Edition developed by Salesagility Ltd.
* Copyright (C) 2011 - 2014 Salesagility Ltd.
*
* This program is free software; you can redistribute it and/or modify it under
* the terms of the GNU Affero General Public License version 3 as published by the
* Free Software Foundation with the addition of the following permission added
* to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
* IN WHICH THE COPYRIGHT IS OWNED BY SUGARCRM, SUGARCRM DISCLAIMS THE WARRANTY
* OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
*
* This program is distributed in the hope that it will be useful, but WITHOUT
* ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
* FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
* details.
*
* You should have received a copy of the GNU Affero General Public License along with
* this program; if not, see http://www.gnu.org/licenses or write to the Free
* Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
* 02110-1301 USA.
*
* You can contact SugarCRM, Inc. headquarters at 10050 North Wolfe Road,
* SW2-130, Cupertino, CA 95014, USA. or at email address contact@sugarcrm.com.
*
* The interactive user interfaces in modified source and object code versions
* of this program must display Appropriate Legal Notices, as required under
* Section 5 of the GNU Affero General Public License version 3.
*
* In accordance with Section 7(b) of the GNU Affero General Public License version 3,
* these Appropriate Legal Notices must retain the display of the "Powered by
* SugarCRM" logo and "Supercharged by SuiteCRM" logo. If the display of the logos is not
* reasonably feasible for  technical reasons, the Appropriate Legal Notices must
* display the words  "Powered by SugarCRM" and "Supercharged by SuiteCRM".
********************************************************************************/

/*********************************************************************************

********************************************************************************/
-->
<!-- BEGIN: Quote_Subject -->
<p>SuiteCRM Presupuesto - {QUOTE_SUBJECT}</p>
<!-- END: Quote_Subject -->
<!-- BEGIN: Quote -->
<p><b>{ASSIGNER}</b> ha asignado un Presupuesto a <b>{ASSIGNED_USER}</b>.</p>
<p>
Asunto: {QUOTE_SUBJECT}<br />
Estado: {QUOTE_STATUS}<br />
Fecha esperada de cierre: {QUOTE_CLOSEDATE}<br />
Descripción: {QUOTE_DESCRIPTION}
</p>
<p>Usted puede <a href={URL}>revisar este Presupuesto</a>.</p>
<!-- END: Quote -->

<!-- BEGIN: Account_Subject -->
<p>Cuenta SuiteCRM - {ACCOUNT_NAME}</p>
<!-- END: Account_Subject -->
<!-- BEGIN: Account -->
<p><b>{ASSIGNER}</b> ha asignado una Cuenta a <b>{ASSIGNED_USER}</b>.</p>
<p>
Nombre: {ACCOUNT_NAME}<br />
Tipo: {ACCOUNT_TYPE}<br />
Descripción: {ACCOUNT_DESCRIPTION}
</p>
<p>Usted puede <a href={URL}>revisar esta Cuenta</a>.</p>
<!-- END: Account -->

<!-- BEGIN: Case_Subject -->
<p>SuiteCRM Caso - {CASE_SUBJECT}</p>
<!-- END: Case_Subject -->
<!-- BEGIN: Case -->
<p><b>{ASSIGNER}</b> ha asignado un Caso a <b>{ASSIGNED_USER}</b>.</p>
<p>
Asunto: {CASE_SUBJECT}<br />
Prioridad: {CASE_PRIORITY}<br />
Estado: {CASE_STATUS}<br />
Descripción: {CASE_DESCRIPTION}
</p>
<p>Usted puede <a href={URL}>revisar este Caso</a>.</p>
<!-- END: Case -->

<!-- BEGIN: Task_Subject -->
<p>SuiteCRM Tarea - {TASK_SUBJECT}</p>
<!-- END: Task_Subject -->
<!-- BEGIN: Task -->
<p><b>{ASSIGNER}</b> ha asignado una Tarea a <b>{ASSIGNED_USER}</b>.</p>
<p>
Asunto: {TASK_SUBJECT}<br />
Prioridad: {TASK_PRIORITY}<br />
Fecha Límite: {TASK_DUEDATE}<br />
Estado: {TASK_STATUS}<br />
Descripción: {TASK_DESCRIPTION}
</p>
<p>Usted puede <a href={URL}>revisar esta Tarea</a>.</p>
<!-- END: Task -->

<!-- BEGIN: Meeting_Subject -->
<p>SuiteCRM Reunión - {MEETING_SUBJECT}</p>
<!-- END: Meeting_Subject -->
<!-- BEGIN: Meeting -->
<p>Para: {MEETING_TO}</p>
<p><b>{ASSIGNER}</b> lo ha invitado a una Reunión</p>
<p>
Asunto: {MEETING_SUBJECT}<br />
Fecha Inicio: {MEETING_STARTDATE}<br />
Fecha Fin: {MEETING_ENDDATE}
</p>
<p>
<!-- BEGIN: Meeting_External_API -->
URL de la Reunión: {MEETING_URL}
</p>
<!-- END: Meeting_External_API -->
<p>Descripción: {MEETING_DESCRIPTION}<br />
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Aceptar esta reunión</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Aceptar tentativamente esta reunión</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Declinar esta reunión</a>.</p>
<!-- END: Meeting -->

<!-- BEGIN: MeetingSpecial_Subject -->
<p>SuiteCRM Reunión - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingSpecial -->
<p><b>{ASSIGNER}</b> ha asignado una Reunión a <b>{ASSIGNED_USER}</b>.</p>
<p>
Asunto: {MEETING_SUBJECT}<br />
Estado: {MEETING_STATUS}<br />
Fecha de Inicio: {MEETING_STARTDATE}<br />
Fecha de finalización: {MEETING_ENDDATE}<br />
Descripción: {MEETING_DESCRIPTION}
</p>
<p>Puedes <a href={URL}>revisar esta Reunión</a>.</p>
<!-- END: MeetingSpecial -->

<!-- BEGIN: MeetingReminder_Subject -->
<p>Recordatorio de reunión - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingReminder -->
<p>
    Título: {MEETING_SUBJECT}<br />
    Cuando: {MEETING_STARTDATE}<br />
    Localización: {MEETING_LOCATION}<br />
    Creado Por: {MEETING_CREATED_BY}
</p>
<!-- END: MeetingReminder -->

<!-- BEGIN: Email_Subject -->
<p>SuiteCRM Correo Electrónico - {EMAIL_SUBJECT}</p>
<!-- END: Email_Subject -->
<!-- BEGIN: Email -->
<p><b>{ASSIGNER}</b> ha asignado un Email a <b>{ASSIGNED_USER}</b>.</p>
<p>
Asunto: {EMAIL_SUBJECT}<br />
Fecha de envío: {EMAIL_DATESENT}
</p>
<p>Puedes <a href={URL}>revisar este Email</a>.</p>
<!-- END: Email -->

<!-- BEGIN: Contact_Subject -->
<p>SuiteCRM Contacto - {CONTACT_NAME}</p>
<!-- END: Contact_Subject -->
<!-- BEGIN: Contact -->
<p><b>{ASSIGNER}</b> ha asignado un Contacto a <b>{ASSIGNED_USER}</b>.</p>
<p>
Nombre: {CONTACT_NAME}<br />
Descripción: {CONTACT_DESCRIPTION}
</p>
<p>Puedes <a href={URL}>revisar este Contacto</a>.</p>
<!-- END: Contact -->

<!-- BEGIN: Lead_Subject -->
<p>Cliente potencial de SuiteCRM - {LEAD_NAME}</p>
<!-- END: Lead_Subject -->
<!-- BEGIN: Lead -->
<p><b>{ASSIGNER}</b> ha asignado un Cliente Potencial a <b>{ASSIGNED_USER}</b>.</p>
<p>
Nombre: {LEAD_NAME}<br />
Origen del Cliente Potencial: {LEAD_SOURCE}<br />
Estado: {LEAD_STATUS}<br />
Descripción: {LEAD_DESCRIPTION}
</p>
<p>Puedes <a href={URL}>revisar el Cliente Potencial</a>.</p>
<!-- END: Lead -->

<!-- BEGIN: Opportunity_Subject -->
<p>Oportunidad SuiteCRM - {OPPORTUNITY_NAME}</p>
<!-- END: Opportunity_Subject -->
<!-- BEGIN: Opportunity -->
<p><b>{ASSIGNER}</b> ha asignado una Oportunidad a <b>{ASSIGNED_USER}</b>.</p>
<p>
Nombre: {OPPORTUNITY_NAME}<br />
Cantidad: {OPPORTUNITY_AMOUNT}<br />
Fecha esperada de cierre: {OPPORTUNITY_CLOSEDATE}<br />
Etapa de ventas: {OPPORTUNITY_STAGE}<br />
Descripción: {OPPORTUNITY_DESCRIPTION}
</p>
<p>Puedes <a href={URL}>revisar esta Oportunidad</a>.</p>
<!-- END: Opportunity -->

<!-- BEGIN: Bug_Subject -->
<p>Error SuiteCRM - {BUG_SUBJECT}</p>
<!-- END: Bug_Subject -->
<!-- BEGIN: Bug -->
<p><b>{ASSIGNER}</b> ha asignado un Error a <b>{ASSIGNED_USER}</b>.</p>
<p>
Número de error: {BUG_BUG_NUMBER}<br />
Asunto: {BUG_SUBJECT}<br />
Tipo: {BUG_TYPE}<br />
Prioridad: {BUG_PRIORITY}<br />
Estado: {BUG_STATUS}<br />
Resolución: {BUG_RESOLUTION}<br />
Versión: {BUG_RELEASE}<br />
Descripción: {BUG_DESCRIPTION}<br />
Log de trabajo: {BUG_WORK_LOG}
</p>
<p>Puedes <a href={URL}>revisar este Error</a>.</p>
<!-- END: Bug -->

<!-- BEGIN: Default_Subject -->
<p>SuiteCRM - asignado {OBJECT}</p>
<!-- END: Default_Subject -->
<!-- BEGIN: Default -->
<p><b>{ASSIGNER}</b> asignó una(n) {OBJECT} a <b>{ASSIGNED_USER}</b>.</p>
<p>Puedes <a href={URL}>revisar este {OBJECT}</a>.</p>
<!-- END: Default -->

<!-- BEGIN: Call_Subject -->
<p>Llamada SuiteCRM - {CALL_SUBJECT}</p>
<!-- END: Call_Subject -->
<!-- BEGIN: Call -->
<p>Para: {CALL_TO}</p>
<p><b>{ASSIGNER}</b> te ha invitado a una Llamada</p>
<p>
Asunto: {CALL_SUBJECT}<br />
Estado: {CALL_STATUS}<br />
Fecha de comienzo: {CALL_STARTDATE}<br />
Duración: {CALL_HOURS}h, {CALL_MINUTES}m<br />
Descripción: {CALL_DESCRIPTION}<br />
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Aceptar esta llamada</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Aceptar provisionalmente esta llamada</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Rechazar esta llamada</a>.</p>
<!-- END: Call -->

<!-- BEGIN: CallSpecial_Subject -->
<p>Llamada SuiteCRM - {CALL_SUBJECT}</p>
<!-- END: CallSpecial_Subject -->
<!-- BEGIN: CallSpecial -->
<p><b>{ASSIGNER}</b> ha asignado una Llamada a <b>{ASSIGNED_USER}</b>.</p>
<p>
Asunto: {CALL_SUBJECT}<br />
Estado: {CALL_STATUS}<br />
Fecha de comienzo: {CALL_STARTDATE}<br />
Duración: {CALL_HOURS}h, {CALL_MINUTES}m<br />
Descripción: {CALL_DESCRIPTION}
</p>
<p>Puedes <a href={URL}>revisar esta Llamada</a>.</p>
<!-- END: CallSpecial -->

<!-- BEGIN: CallReminder_Subject -->
<p>Recordatorio de Llamada - {CALL_SUBJECT}</p>
<!-- END: CallReminder_Subject -->
<!-- BEGIN: CallReminder -->
<p>
    Título: {CALL_SUBJECT}<br />
    Cuando: {CALL_STARTDATE}<br />
    Creado Por: {CALL_CREATED_BY}
</p>
<!-- END: CallReminder -->

<!-- BEGIN: Campaign_Subject -->
<p>Campaña de SuiteCRM - {CAMPAIGN_NAME}</p>
<!-- END: Campaign_Subject -->
<!-- BEGIN: Campaign -->
<p><b>{ASSIGNER}</b> ha asignado una Campaña a <b>{ASSIGNED_USER}</b>.</p>
<p>
Asunto: {CAMPAIGN_NAME}<br />
Importe: {CAMPAIGN_AMOUNT}<br />
Fecha de cierre: {CAMPAIGN_CLOSEDATE}<br />
Estado: {CAMPAIGN_STATUS}<br />
Descripción: {CAMPAIGN_DESCRIPTION}
</p>
<p>Puedes <a href={URL}>revisar esta Campaña</a>.</p>
<!-- END: Campaign -->

<!-- BEGIN: Quota_Subject -->
<p>Cuotas SuiteCRM - su cuota de {QUOTA_TIMEPERIOD}</p>
<!-- END: Quota_Subject -->
<!-- BEGIN: Quota -->
<p><b>{ASSIGNER}</b> ha asignado una Cuota a <b>{ASSIGNED_USER}</b>.</p>
<p>
Cantidad: {QUOTA_AMOUNT}<br />
Perído de tiempo: {QUOTA_TIMEPERIOD}
</p>
<p>Puedes <a href={QUOTA_URL}>revisar esta asignación de la Cuota</a>.</p>
<!-- END: Quota -->

<!-- BEGIN: KBDocument_Subject -->
<p>Documento SuiteCRM - {KBDOCUMENT_NAME}</p>
<!-- END: KBDocument_Subject -->
<!-- BEGIN: KBDocument -->
{NOTIFICATION_MESSAGE}

<p>
Nombre: {KBDOCUMENT_NAME}<br />
Fecha de creación: {KBDOCUMENT_DATE_CREATED}<br />
Creado por: {KBDOCUMENT_CREATED_BY}<br />
Estado: {KBDOCUMENT_STATUS}<br />
Descripción: {KBDOCUMENT_DESCRIPTION}
</p>
<p>Puedes <a href={URL}>revisar este Documento</a>.</p>
<!-- END: KBDocument -->

<!-- BEGIN: Contract_Subject -->
<p>SuiteCRM Contrato - {CONTRACT_NAME}</p>
<!-- END: Contract_Subject -->
<!-- BEGIN: Contract-->
<p><b>{ASSIGNER}</b> ha asignado un Contacto a <b>{ASSIGNED_USER}</b>.</p>
<p>Puedes <a href={URL}>revisar este Contrato</a>.</p>
<!-- END:Contract-->

<!-- BEGIN: ContractSpecial_Subject -->
<p>SuiteCRM Contrato - {CONTRACT_NAME}</p>
<!-- END: ContractSpecial_Subject -->
<!-- BEGIN: ContractSpecial -->
<p>Su Contrato: {CONTRACT_NAME} finalizará el {CONTRACT_END_DATE}.</p>
<p>Puedes <a href={URL}>revisar este Contrato</a>.</p>
<!-- END:ContractSpecial-->
